extends layout

block content
  include gameHeader
  .above-game
    p.game-intro Join the numbers and get to the <strong>2048 tile!</strong>
    a.restart-button New Game
  include gameGrid

block appScript
  script(src="js/lib/require.js", data-main="/js/multi2048.js")
